
body{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    background: url(https://img2.badfon.ru/original/1920x1200/7/79/zelen-dozhd-utoro-horoshaya.jpg);
   }

.weather_block{
    display: flex;
    flex-direction: row;
   justify-content: space-between; 
   flex:1;    
}
.WEATHER{
    font-family:  arial, sans-serif;
    display: flex;    
    flex-direction: column; 	  
   margin: 20px;
}

h2{
   font-family:arial, sans-serif;
   min-height: 10%;
}
nav{
    opacity: 0.8;
    padding-top: 30px;
    margin-left:0;       
    min-width: 10%;
    padding-right: 30px;
    padding-left: 20px;
   flex-grow:0;
    
}
.nav_city{
	list-style-type:none;
}
.city{
 padding:5px;
 cursor: pointer;
 background-color:rgb(103, 192, 155);
 border-radius:10px;
 margin:5px;
 text-decoration: underline;

}
aside{
    min-width: 10%;
    flex-grow:0;
	
	padding: 15px;;
    font-size: 1.5rem;  
	
}
header{    
	width: 100%;
	border-radius: 10px;
    background-color: rgb(89, 216, 127); 
    height: 100px;
    opacity: 0.7;
}
footer{
	width: 100%;
    padding: 5px;;
    font-size: 2rem;
    height: 100px;
    background-color:rgb(89, 216, 127); 
    border-radius: 5px;
    opacity: 0.7;
}
.weat_head{
    margin: 30px;
    background-color: honeydew;
    width: 30%;
    height: 40%;
    padding: 10px;
	border-radius: 20px;
}

.tuesday{
    display: flex;
    flex-direction: column;
}
img {
    width: 5rem;
    height: 5rem;
    display: block;
}
.today{
 display: flex;
 flex-direction: row;
 align-items: flex-start; 
 flex: 0 0 50%; 
}
#today_widget{
    font-size: 3.5rem;
    font-family: Arial;
}
.imganddetcont{
    display: flex;       
}
.detal{
    flex: 0 0 50
	
}
.week{
    display: flex;
    justify-content: space-between;
	

}
.name_week{
	padding:0 10px;
}
.day_night{
    display: flex;
    justify-content: space-around;
}
.Pollen{
    display: flex;
    justify-content: space-around;
}
.day_name, .day_widget{
    font-weight: bold;    
}
.day_name{
    font-size:13px;
}
@media (max-width: 1000px) {
    .weather_block{
        flex-direction: column;
        
    }
}
@media (max-width: 770px) {    
   header{
       width: 100%;
   }
   footer{
    width: 100%;
}
    .week{
        flex-direction: column;
    }

  .name_week {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: rgba(160, 145, 145, 0.2);
    border-top-width: 1px;    
  }  
  .day_night{
      flex:1;
    justify-content: space-around;
}
.Pollen{
    flex:1;  
    justify-content:center;
}
.day_name{
    flex:1;  
    justify-content:center;
}
.weatherimg{
    flex:1;  
    justify-content:center;
}
}
@media (max-width: 480px) {
    main {
        font-size: 12.5px;
    }    
    .day_night{
        flex-direction:column;
    }
    .Pollen{
        flex-direction:column;
        align-items:center
    }
}