header{
	text-align:center;
}
pre {
	background:url("http://storage_01.startwish.ru/images/0d/71/4654/d878289a35d754c2c215a1615e22b2306a1c_o.jpg");
	background-repeat:no-repeat;
	background-size:contain;
	color:#00008B;
}

body {
	
	background-color:#20B2AA;
}